

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="card mb-4" id="box-commentary">
            <div class="mb-3">
                <label for="Name" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="name" placeholder="Nombre">
              </div>
              <div class="mb-3">
                <label for="Qstn" class="form-label">¿Tiene alguna pregunta?</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Ej. ¿El restaurante trae mesa para 6 personas?"></textarea>
              </div>
            </div>
        </div>
    </div>

    <h2> <b>Preguntas Respondidas</b></h2>

    <div class="card mb-4">
        <div class="card-body">
            <h3 class="card-title h4">Kevin</h3>
            <p class="card-text">              
            <b>
                ¿Se permite fumar dentro del local? <br>
            </b>
            <i>"No, no se permite fumar dentro del local."</i>
            </p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h3 class="card-title h4">Moran</h3>
            <p class="card-text">              
            <b>
                ¿Cuál es el horario de atención? <br>
            </b>
            <i>"Atendemos de Martes a Domingo desde las 9h00AM a 11h00PM"</i>
            </p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h3 class="card-title h4">Josias</h3>
            <p class="card-text">              
            <b>
                ¿Hay opciones vegetarianas?<br>
            </b>
            <i>"No, vaya a otro restaurante para veganos xd"</i>
            </p>
        </div>
    </div>

</div>