<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <!-- Logo-->
            <div class="card mb-4">
                <img class="d-block w-100" src="../assets/img/logo.png" alt="First slide" style="height: 100%; object-fit: cover;">
            </div>
        </div>
        <div class="col-lg-8">
            <!-- Intro-->
            <div class="card mb-4">
                <div class="card-header">¡Bienvenidos a Boba & Grill!</div>
                <div class="card-body">
                   En Boba & Grill, combinamos lo mejor de dos mundos para ofrecerte una experiencia única 
                   en comida rápida. Nuestra especialidad son los delicioso Boba Drinks, lleno de sabores frescos 
                   y auténticos, y la comida grill, preparada al momento con ingredientes de la más alta calidad.<br>
                   <br>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <!-- Carousel-->
            <div class="card mb-4">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    </div>                
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="../assets/img/img1.png" alt="First slide" style="height: 100%; object-fit: cover;">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../assets/img/img2.png" alt="Second slide" style="height: 100%; object-fit: cover;">
                    </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>                
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <!-- Card-->
            <div class="card mb-4">
                <div class="card-header">¿Por qué escoger Boba & Grill?</div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Variedad de Boba Tea: Ofrecemos una amplia selección de Boba Tea, desde los sabores clásicos hasta nuestras creaciones exclusivas, todas elaboradas con perlas de tapioca de alta calidad.</li>
                        <li class="list-group-item">Comida Grill de Alta Calidad: Nuestras hamburguesas, kebabs y otros platos grill están hechos con ingredientes frescos y de primera, cocinados a la perfección en nuestra parrilla.</li>
                        <li class="list-group-item">Ambiente Acogedor: Creamos un ambiente cómodo y moderno, perfecto para relajarse con amigos o disfrutar de una comida rápida y deliciosa.</li>
                        <li class="list-group-item">Servicio Rápido y Amable: Nuestro equipo está dedicado a ofrecer un servicio rápido y amigable, asegurando que tu experiencia sea agradable de principio a fin.</li>
                        <li class="list-group-item">Precios Competitivos: Ofrecemos una excelente relación calidad-precio, haciendo de BubbleGrill una opción asequible para una comida rápida y sabrosa.</li>
                      </ul>
                   <br>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4">
                <div class="card-header text-center">¡Conoce Nuestro Menú!</div>
                <div class="card-body">
                    <img src="../assets/img/menu1.jpg" alt="..." style="border: 5px solid #fff; width: 500px; height: 600px;">
                    <img src="../assets/img/menu2.jpg" alt="..." style="border: 5px solid #fff; width: 500px; height: 600px;">
                    <img src="../assets/img/menu3.jpg" alt="..." style="border: 5px solid #fff; width: 500px; height: 600px;">
                    <img src="../assets/img/menu4.jpg" alt="..." style="border: 5px solid #fff; width: 500px; height: 600px;">
                   <br>
                   <br>
                   <button type="button" class="d-block mx-auto btn btn-primary"> <a href="/pedidos" id="boton-pedido"> Te interesa? Realizar Tu Pedido Ya! </a> </button>
                </div>
            </div>
        </div>
    </div>
</div>