

  <div class="container">
    <div class="row">
        <div class="col-lg-9">
            <div class="card mb-4" id="pedido">
                <form>
                    <label for="item" class="form-label">Comida</label>
                    <input type="text" class="form-control" id="item">
                    <p> </p>
                    <button class="btn btn-primary">Submit</button> <br>
                    <p> </p>
                    <label class="form-label"> <b> Menu de Comida </b> </label> <br>
                    <label class="form-control">

                      {{ listaService.listaStr }}
                      
                    </label>
                    
                  </form>
                </div>          
            </div>
    </div>
  </div>

