/* You can add global styles to this file, and also import other style files */
/*
#5f0f40
#9a031e
#fb8b24
#e36141
#0f4c5c

*/
#menu {
    background-color: #0f4c5c;
}

#head1 {
    background-color: #fb8b24;
}

#boton-pedido {
    /*Underline Disable and color white text*/
    text-decoration: none;
    color: #FFFFFF;
}

#pedido {
    padding: 20px;
}