
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <!-- Featured blog post-->
            <div class="card mb-4">
                <a href="#!"><img class="card-img-top" src="../assets/img/inicio.jpg" alt="..." /></a>
                <div class="card-body">
                    
                    <h2 class="card-title">Hamburgesas & Boba Soda</h2>
                    <p class="card-text">¡Descubre el nuevo sabor de la felicidad! <br>
                      En nuestro rincón de hamburguesas y boba soda, te espera una experiencia que despierta todos tus sentidos.</p>
                </div>
            </div>
            <!-- Nested row for non-featured blog posts-->
            <div class="row">
                <div class="col-lg-6">
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="../assets/img/img5.png" alt="..." /></a>
                        <div class="card-body">
                             
                            <h2 class="card-title h4">Hot Dog Insano</h2>
                            <p class="card-text"> Hecha con albóndigas jugosas, salsa marinara y queso mozzarella derretido, todo envuelto en un pan suave y dorado.</p>
                              
                        </div>
                    </div>
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="../assets/img/img7.png" alt="..." /></a>
                        <div class="card-body">
                             
                            <h2 class="card-title h4">Mango Biche Soda</h2>
                            <p class="card-text">
                              Elaborada con jugo natural de mango y un toque de burbujas refrescantes, 
                              es la compañía perfecta para tu comida</p>
                              
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="../assets/img/img3.png" alt="..." /></a>
                        <div class="card-body">
                             
                            <h2 class="card-title h4">Hamburgesa Clasica </h2>
                            <p class="card-text">
                              Carne jugosa a la parrilla, lechuga fresca, tomate, cebolla 
                              y nuestro secreto aderezo especial, 
                              todo dentro de un pan tierno y dorado</p>
                              
                        </div>
                    </div>
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="../assets/img/img4.png" alt="..." /></a>
                        <div class="card-body">
                             
                            <h2 class="card-title h4">Mac & Cheese Burger</h2>
                            <p class="card-text"> Una jugosa hamburguesa acompañada de una capa de macarrones 
                              con queso cremoso y crujientes trozos de tocino..</p>
                              
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <!-- <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
            </div> -->
            <!-- Categories widget-->
            <!-- <div class="card mb-4">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">Web Design</a></li>
                                <li><a href="#!">HTML</a></li>
                                <li><a href="#!">Freebies</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">JavaScript</a></li>
                                <li><a href="#!">CSS</a></li>
                                <li><a href="#!">Tutorials</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Pedidos a Domicilio</div>
                <div class="card-body">🍔🥤 ¿Tienes hambre y no quieres salir de casa? ¡No te preocupes, te tenemos cubierto! <br>
                   <br>   
                  Desde nuestras clásicas hamburguesas con carne jugosa y sabores frescos hasta nuestras innovadoras combinaciones como la hamburguesa Mac & Cheese, 
                  ofrecemos una variedad que satisfará todos los gustos. 
                  Y para acompañar, nuestras sodas están disponibles en una variedad de sabores refrescantes como mango, fresa y más. <br>
                   <br>
                  
                  Realiza tu pedido a domicilio y disfruta de la calidad y el sabor que te encanta sin tener que moverte. 
                  ¡Simplemente elige tus favoritos, haz tu pedido y relájate mientras te llevamos la comida directamente a tu puerta! 
                  Visítanos en línea o llámanos ahora para hacer tu pedido y satisfacer tu antojo de hamburguesas y sodas.
                   <br>
                   <br>
                   <button type="button" class="btn btn-primary"> <a href="/pedidos" id="boton-pedido"> Realizar Pedido </a> </button>
                </div>
            </div>
        </div>
    </div>
</div>